<section class="targeta targeta-normal">
    <header class="targeta__cabecera">
        <img src="{{ include.img }}" alt=" {{ include.img_desc }} " />
        <h3 class="title">{{ include.title }}
        </h3>
    </header>
    <p class="descripcion">
        {{ include.descripcion }}
    </p>
    <footer class="content__footer">
        <a href=" {{ include.link }} ">read more<span class="icon-arrow-right-circle"></span></a>
        <a href="#"><span class="icon-heart"></span></a>
        <a href="#"><span class="icon-share2"></span></a>
    </footer>
</section>