body {
  background-color: #d4d8f0;
  color: #fff;
}

header {
    width: 100%;
}

header h1{
    color: #fffffe;
    position: absolute;
    top:9%;
    left:30%;
    width: 40%;
    text-align: center;
}

header img {
    height: 40vh;
    width: 100%;
    display: block;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 3px 0;
    background-color:#232946;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}
	
nav ul li {
  display: block;
    margin-left: 5%;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#fffffe;
	font-size:20px;
	line-height: 60px;
  text-decoration:none;
  font-weight: bolder;
}

nav a:hover { 
	background-color:#1f243d;
}


.entradas {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
}



  /*tarjeta */
  .targeta a {
    color: inherit;
    text-decoration: none;
  }
  
  .targeta {
    color: #232946;
    background-color: #fffffe;
    margin-right:3%;
    margin-top: 0.6em;
    width: 30%;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
  }
  .descripcion,.content__footer {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
  .descripcion {
    width:98%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .targeta .targeta__cabecera,.targeta .targeta__cabecera img {
    width:100%;
  }
  
  .icon-arrow-right-circle {
    font-size:0.9em;
  }
  .content__footer {
    color: #66b5c9;
    display: flex;
    flex-flow: row nowrap;
    text-transform: uppercase;
    padding: 0.3em;
    border-top:2px solid #d8d8d8;
    font-size:1.2em;
    font-weight: bolder;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  .content__footer :nth-child(1):hover {
    color: darkcyan;
  }

  .content__footer :nth-child(2),.content__footer :nth-child(3) {
    width: 15%;
    text-align: end;
  }

  .content__footer :nth-child(1) {
    width: 60%;
  }

  .content__footer :nth-child(1) {
    width: 60%;
  }

  .content__footer :nth-child(2),.content__footer :nth-child(3) {
    display: inline-block;
    
  }
  .targeta .targeta__cabecera .title {
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
  }

  /* footer---------------------------------------------*/

  .footer,.footer .copyright_text,.iconos_r_sociales{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .footer {
    background-color:#232946;
    width: 100%;
    color: #b8c1ec;
    padding-top: 0.3em;
    margin-top: 0.5em;
  }
  .git_icon .icon-github {
    font-size: 2.5em;
    color: rgba(219, 217, 217, 0.856);
    padding-top: 0.3em;
  }
  .git_icon {
    width: 39%;
    text-align: center;
  }

  .copyright_text p {
    margin: 0;
  }

  .copyright_text .icon-copyright {
    font-size: 1.1em;
  }

  .copyright_text,.iconos_r_sociales{
    width: 30%;
  }

  .iconos_r_sociales>* {
    font-size: 1.5em;
    margin-left: 2%;
    text-decoration: none;
    color: #1a1a1d;
  }

  /* estilos del blog */

  .post {
    width: 75%;
    margin: auto;
    color: #232946;
  }

  .post h1 {
    color: #232946;
  }

  .post p img {
    margin-bottom: 0.5em;
    max-width: 80%;
  }

  .aut_fecha {
    margin-top: 0.4em;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: space-around;
  }

  .aut_fecha>* {
    display: block;
  }

  /*pagina about */
  .about {
    display: flex;
    flex-flow: row wrap;
    color: #232946;
    width: 100%;
  }
  .about h2 {
    width: 80%;
  }
  .about img {width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
/*pagina de contacto*/
  .contacto {
    color: #232946;
  }
  .contacto {
    width: 70%;
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .contacto label,.contacto form  {
    display: block;
  }
  .contacto h1,.contacto form {
    width: 60%;
  }
